@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome to CVD Technologies</h1>
        <p><h2 class="bg-white">The best projects start with a simple hello.</h2> </p>
    </div>
    
   




<div id="react-root"></div>
<script src="~/js/bundle.js"></script>