<div>
    <h1 class="display-4 mb-1 text-center"><strong>Welcome to CVD Technologies</strong></h1>
    <p><h2 class="bg-primary text-center text-white" style="text-emphasis"><em>The best projects start with a simple hello.</em></h2> </p>
</div>
