@page
@* @using Microsoft.EntityFrameworkCore.Metadata.Internal
 *@


@model CVD_page.Pages.CVD.AboutUs.MissionModel
@{

    ViewData["Title"] = "Mission";
}


@await Html.PartialAsync("_CVD_Header")

<div class="float-child float-sm mb-3 mt-6" style="width: 100%; background-color: seashell; border: ridge">
<div id="mission-root" class="bg-success-subtle  bg-body-tertiary text-black"><h2></h2></div>
</div>
<div class="float-child mb-3 mt-6" style="width: 100%; background-color: seashell; border: ridge">
    <img src="/img/Paceholder1.png" />
    <img src="/img/mouse_Kb.jpg" style="width:50%; height:50%;" alt="Placeholder Image" />
    <img src="/img/multiport.jpg" style="width:50%; height:50%;" alt="Placeholder Image" />
    </div>
<script src="~/js/bundle.js"></script>