@page
@model CVD_page.Pages.CVD.AboutUs.WhyChooseUsModel
@{
    @await Html.PartialAsync("_CVD_Header")
    
    <h2>Why Choose Us</h2>

    <div id="whyus-root"></div>
    <script src="~/js/bundle.js"></script>

}
