@page
@model CVD_page.Pages.CVD.WhatWeDo.DeliverModel

@await Html.PartialAsync("_CVD_Header")
@{
    <div class="text-center">
        
        <p><h2 class="bg-white">Our Expertise</h2> </p>
    </div>


    <div id="delivery-root"></div>
    <script src="~/js/bundle.js"></script>

}
