@page
@model CVD_page.Pages.CVD.WhatWeDo.ExpertiseModel

@await Html.PartialAsync("_CVD_Header")
@{
    <div class="text-center">

        <p><h2 class="bg-white">We specialize in.</h2> </p>
    </div>


    <div id="expertise-root" class="float-child float-sm-start mb-3 mt-6" style="width:50%"></div>
    <div class="float-child float-sm-end mb-3 mt-6" style="width:50%"> <img src="/img/Code1.jpg" style="width:100%; height:100%;" alt="Placeholder Image" /></div>
    <img src="/img/networking.png" style="width:40%; height:50%;" alt="Placeholder Image" />
    <img src="/img/network tools.jpg" style="width:40%; height:30%;" alt="Placeholder Image" />
    <img src="/img/Camera1.jpg" style="width:30%; height:40%;" alt="Placeholder Image" />
    <script src="~/js/bundle.js"></script>

}
