@page
@model CVD_page.Pages.CVD.WhoWeServe.WhomWeServeModel

@await Html.PartialAsync("_CVD_Header")
@{
    <div class="text-center">

        <p><h2 class="bg-white">Our clients include.</h2> </p>
    </div>


    <div id="WhomWeServe-root"></div>
    <img src="/img/customer1.jpg" style="width:100%; height:50%;" alt="Placeholder Image" />
    <script src="~/js/bundle.js"></script>
}
