@page
@model CVD_page.Pages.Products.ProductEditModel

@{
    ViewData["Title"] = "ProductEdit";
}

<h1>ProductEdit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4 ms-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.ItemName" class="control-label"></label>
                <input asp-for="Product.ItemName" class="form-control" />
                <span asp-validation-for="Product.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.OrderNo" class="control-label"></label>
                <input asp-for="Product.OrderNo" class="form-control" />
                <span asp-validation-for="Product.OrderNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.price" class="control-label"></label>
                <input asp-for="Product.price" class="form-control" />
                <span asp-validation-for="Product.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Desc" class="control-label"></label>
                <textarea asp-for="Product.Desc" class="form-control"></textarea>
                <span asp-validation-for="Product.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.unit" class="control-label"></label>
                <input asp-for="Product.unit" class="form-control" />
                <span asp-validation-for="Product.unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
